nav {
  background-color: #34353a;
}
nav .row {
  width: 100%;
  align-items: center;
  flex-wrap: nowrap;
}
.nav_logo {
  width: 100px;
  border-radius: 50%;
}

.nav-heading-text {
  font-size: 2rem;
  color: white;
  font-weight: bold;
  text-align: center;
  margin-right: 136px;
}

.navbar-collapse {
  justify-content: center;
}
.nav-item a {
  font-size: 30px;
  color: white !important;
}
.navbar-toggler {
  background-color: white;
}
/* Header CSS End */
/* Mission Section */
.mission_section {
  margin-top: 120px;
  padding: 20px 0;
  background-color: #f5f5f5;
  margin-bottom: 20px;
  border-bottom: 2px solid #ddd;
}

.mission_title {
  font-size: 22px;
  font-weight: bold;
  color: #34353a;
  margin-bottom: 10px;
}

.mission_text {
  font-size: 17px;
  width: 80%;
  margin: 0 auto;
  color: #444;
  text-align: center;
  line-height: 1.6;
}
.second_section li {
  font-size: 18px;
}

/* Image Section Start */
.image_section {
}
.image_section .row {
  flex-wrap: wrap;
  justify-content: center;
}

.image_section .Images_col {
}
.Images_col img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}
.Images_col p {
  background-color: #f5f5f5;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  padding: 20px;
  text-align: center;
}

/* Image Section End */

/* Footer CSS Start */
footer {
  border-top: 2px solid #bdbaba;
  margin-top: 20px;
  padding: 20px;
  background-color: #34353a;
  color: white;
}
footer .row {
  align-items: center;
}
footer .img_col iframe {
  width: 100%;
}
footer .footer_logo {
  width: 100px;
  border-radius: 50%;
}
footer .img_col {
  text-align: start;
  padding-left: 100px;
}
footer .info_footer {
  align-items: center;
}
footer p {
  margin: 20px;
  text-align: center;
}
footer li {
  font-size: 17px !important;
}
footer li a {
  color: white !important;
}
/* Footer CSS End */

@media screen and (max-width: 1200px) {
  .nav-heading-text {
    margin-right: 67px;
  }
}
@media screen and (max-width: 992px) {
  .navbar-collapse a {
    text-align: center;
  }

  .nav-heading-text {
    margin-right: 5px;
    font-size: 1.5rem;
  }
  footer .info_footer {
    text-align: center;
  }
  .info_footer li {
    margin: 5px;
  }
}
@media screen and (max-width: 767px) {
  .navbar .logo {
    margin-left: -20px;
  }
  .navbar .logo img {
    width: 80px;
  }
  .nav-heading-text {
    margin-right: -7px;
    font-size: 1.3rem;
  }
  .mission_section {
    margin-top: 90px;
    width: 100%;
  }
  .email-text {
    word-break: break-all;
  }
  .mission_section .mission_text {
    width: 100%;
    text-align: justify;
  }
  footer .img_col {
    padding: 0px;
    margin: 20px 0px;
    text-align: center;
  }
  footer p {
    margin: 10px 0px;
  }
}
@media screen and (max-width: 576px) {
  .navbar .logo {
    margin-left: 0px;
  }
  .nav-heading-text {
    margin-right: -60px;
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 480px) {
  .navbar .logo {
    margin-left: 0px;
  }
  .nav-heading-text {
    margin-right: -60px;
    font-size: 1.3rem;
  }
  .navbar .logo img {
    width: 60px;
  }
  .nav-heading-text {
    font-size: 90%;
    margin-right: -20px;
    padding-top: 10px;
  }
  .mission_section {
    margin-top: 75px;
  }
}
